# Base paths
BASE_DIR=/home/ec2-user/nba_backup
SCRIPTS_DIR=/home/ec2-user/nba_backup/scripts

# Database
DB_SERVER=your-server.region.rds.amazonaws.com
DB_NAME=NBA_Database
DB_USERNAME=admin
DB_PASSWORD=your_password

# Kaggle
KAGGLE_USERNAME=your_username
KAGGLE_KEY=your_key

# AWS credentials and IDs
AWS_REGION=us-east-2
EC2_INSTANCE_ID=i-xxxxxxxxxxxxxxxxx